[mysqld]
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0

[galera]
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="mariadb_cluster"
wsrep_cluster_address="gcomm://dka-mariadb1,dka-mariadb2,dka-mariadb3"
wsrep_node_address="NODE_ADDRESS"
wsrep_node_name="NODE_NAME"
wsrep_sst_method=rsync
