[mysqld]
bind-address = 127.0.0.1
port = 3306

# User and directories
user = mysql
basedir = /usr
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock

# Docker-specific optimizations
skip-host-cache
skip-name-resolve

# Disable symbolic-links to prevent issues within containers
symbolic-links = 0

# Logging settings
# log_error is not set to avoid permission issues
general_log = 1
general_log_file = /var/log/mysql/general.log  # Redirect access logs to a file
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow_query.log  # Redirect slow query logs to a file
long_query_time = 2  # Log queries that take longer than 2 seconds

# General optimizations
max_connections = 150
sql_mode = STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION

# Tuning file system for Docker
innodb_flush_method = O_DIRECT
innodb_use_native_aio = 1

# Avoid file locking issues
innodb_file_per_table = 1

# Optimizations to prevent corruption and ensure durability
innodb_flush_log_at_trx_commit = 2  # Adjusted for performance while maintaining some durability
innodb_doublewrite = 1
#innodb_buffer_pool_size = 512M  # Increase as needed based on container limits
innodb_buffer_pool_size = {{INNODB_BUFFER_POOL_SIZE}}

innodb_log_buffer_size = 32M  # Adjusted for performance
sync_binlog = 1  # Set to 1 for better durability; will flush binlog after each transaction

# Enable crash recovery options
innodb_flush_log_at_timeout = 1  # Flush the log file every second
innodb_log_file_size = 64M  # Size of each log file (increase as needed)

# Backup and recovery optimizations
innodb_fast_shutdown = 1  # Allow faster shutdown, but ensure data is flushed

# Query cache settings (optional, depending on your workload)
query_cache_type = 1  # Enable query cache
#query_cache_size = 64M  # Set cache size
query_cache_size = {{QUERY_CACHE_SIZE}}
query_cache_limit = 1M  # Limit for individual query cache

# Connection settings
wait_timeout = 600          # Increase the non-interactive session timeout to 10 minutes
interactive_timeout = 600   # Increase the interactive session timeout to 10 minutes
connect_timeout = 30        # Increase the timeout to 30 seconds for establishing a connection
net_read_timeout = 60       # Increase timeout for reading data from the network
net_write_timeout = 60      # Increase timeout for writing data to the network

# Thread settings
thread_cache_size = 8  # Improve thread reuse

# Temporary tables
tmp_table_size = {{TMP_TABLE_SIZE}}
max_heap_table_size = {{TMP_TABLE_SIZE}}
