services:
  # NestJS Backend API
  # Combined API and RADIUS Server
  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dka_server
    restart: always
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USERNAME=radius_user
      - DB_PASSWORD=radius_password
      - DB_DATABASE=radius_db
      - DKA_NAS_SECRET=Cyberhack2010
      - "DKA_SERVER_REST_HOST=localhost:3000"
      - "DKA_SERVER_REST_PROTOCOL=http://"
      - "DKA_SERVER_REST_ENDPOINT=/api/v1/radius"
      - "DKA_NAS_IP_ADDRESS=80.80.0.1"
      - "DKA_NAS_TYPE=Mikrotik"
    volumes:
      - .config/raddb/mods-enabled/rest:/etc/raddb/mods-enabled/rest
      - .config/raddb/mods-enabled/rest_client:/etc/raddb/mods-enabled/rest_client
      - .config/raddb/sites-enabled/coa:/etc/raddb/sites-enabled/coa
      - .config/raddb/sites-enabled/originate-coa:/etc/raddb/sites-enabled/originate-coa
      - .config/raddb/sites-enabled/dynamic-clients:/etc/raddb/sites-enabled/dynamic-clients
      - .config/raddb/clients.conf:/etc/raddb/clients.conf
      - .config/raddb/sites-enabled/default:/etc/raddb/sites-enabled/default
    ports:
      - "3000:3000"
      - "1812:1812/udp"
      - "1813:1813/udp"
      - "3799:3799/udp"
    depends_on:
      - db
    networks:
      - dka_network

  # PostgreSQL Database
  db:
    image: postgres:15-alpine
    container_name: dka_db
    restart: always
    environment:
      - POSTGRES_USER=radius_user
      - POSTGRES_PASSWORD=radius_password
      - POSTGRES_DB=radius_db
    ports:
      - "54321:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - dka_network

volumes:
  postgres_data:


networks:
  dka_network:
    driver: bridge
