name: dka-database

services:
  mariadb:
    image: yovanggaanandhika/mariadb:latest
    container_name: dka-database-mariadb
    hostname: dka-database-mariadb
    restart: always
    environment:
      DKA_ROOT_PASSWORD: Cyberhack2010
      DKA_DB_NAME: dka
      DKA_DB_USERNAME: dka
      DKA_DB_PASSWORD: Cyberhack2010
      DKA_CRON_ENABLE: true

      CLOUDFLARE_KEY: ajhdg378wdtgui3wghdjhgdg
      CLOUDFLARE_DOMAIN: ahjsgdjyawgd
    ports:
      - target: 3306
        published: 3306
        protocol: tcp
        host_ip: 0.0.0.0
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '1.0'
        reservations:
          memory: 500M
          cpus: '0.8'
    volumes:
      - type: volume
        source: data
        target: /var/lib/mysql
      - type: volume
        source: backup
        target: /backup
    networks:
      - default

volumes:
  data:
    driver: local
  backup:
    driver: local

networks:
  default:
    driver: bridge
